* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    color: #111;
}

header {
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.signin {
    color: #222;
    text-decoration: none;
    font-size: 15px;
}

.signup {
    padding: 8px 18px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}


.hero {
    width: 100%;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    align-items: start;
}

.left-img img,
.right-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 12px;
}

.center-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center-col img {
    width: 100%;
    border-radius: 12px;
}

.top-small {
    height: 130px;
    object-fit: cover;
}

.bottom-small {
    height: 130px;
    object-fit: cover;
}

.sale-box {
    text-align: center;
    padding: 30px 0;
}

.sale-box h2 {
    font-size: 38px;
    font-weight: 600;
    color: #444;
}

.sale-box h1 {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 6px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.sale-box p {
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 13px;
    color: #777;
}

.sale-box button {
    margin-top: 18px;
    padding: 10px 25px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.brands {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
    font-weight: 500;
    opacity: 0.8;
}